In [13]:
import numpy as np
import rpy2.robjects as robjects
from rpy2.robjects import pandas2ri
pandas2ri.activate()

## Importing data set

In [29]:
readRDS = robjects.r['readRDS']
df = readRDS('loan_data.rds')
df = pandas2ri.ri2py(df)

## Describing data set

In [30]:
df.describe(include=[np.object])

        grade home_ownership emp_cat ir_cat
count   29091          29091   29091  29091
unique      7              4       5      5
top         A           RENT    0-15    0-8
freq     9649          14692   25642   7130

In [31]:
df.describe(include=[np.number])

        loan_status     loan_amnt    annual_inc           age
count  29091.000000  29091.000000  2.909100e+04  29091.000000
mean       0.110928   9593.663848  6.696489e+04     27.698120
std        0.314048   6323.467488  5.325318e+04      6.194617
min        0.000000    500.000000  4.000000e+03     20.000000
25%        0.000000   5000.000000  4.000000e+04     23.000000
50%        0.000000   8000.000000  5.640000e+04     26.000000
75%        0.000000  12250.000000  8.000000e+04     30.000000
max        1.000000  35000.000000  2.039784e+06     94.000000

In [32]:
from sklearn.linear_model import LogisticRegressionCV

In [34]:
model = LogisticRegressionCV()

In [36]:
features = ["loan_amnt", "annual_inc", "age", "grade", "home_ownership", "emp_cat", "ir_cat"]
target = ["loan_status"]

In [37]:
X = df[features]
y = df[target]

In [40]:
model.fit(X, y)

ValueError: could not convert string to float: 'Missing'

[Python implementation reference](https://towardsdatascience.com/building-a-logistic-regression-in-python-step-by-step-becd4d56c9c8)